.dishes {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .dishes::-webkit-scrollbar {
    display: none;
  }
  .dish-img-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    flex-shrink: 0;
  }
  
  .dish-img {
    width: 80px;
    height: 80px;
    margin: 10px;
    padding:2px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid #FF8800;
    flex-shrink: 0;
  }
  .dish-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
  }
  