.main-content{
    display: flex;
    justify-content: space-between;
}
.container{
    max-height: 700px;
    overflow-y:hidden;
}
.content{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}
.img{
    width: 140px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}
.rating{
    padding: 0px 8px 0px 8px;
    font-size: 13px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    background-color:green;
    border-radius: 6px;
    height: 24px;
}
.a-text{
    font-size: 14px;
    color:gray;
}
.text{
    font-size: 14px;
    color: #ccc;
    font-size: 12px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line{
    margin-top: 10px;
    border: 2px solid #ccc;
}
.text-div{
    margin-top: 10px;
}

.items-list{
    display: flex;
    justify-content: space-between;
}
.item{
    color: gray;
    font-size: 14px;
}
.quantity{
    font-size: 14px;
    margin-top: 13px;
    color:gray;
}
.ingredients {
    margin-top: 20px;
  }
  
  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .heading > svg {
    margin-right: 5px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .ingredient-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity {
    margin-left: auto;
  }
  
  .appliance-images {
    display: flex;
    align-items: center;
  }
  
  .appliance-images img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .imgs{
    width: 100px;
    height: 100px;
  }
  .scrollable-content {
    height: 700px;
    overflow-y: scroll;
  }
  .scrollable-content::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }